# Dependencies
# node_modules/ # Commented out - needed for electron-builder packaging

# Build
# dist/ # Commented out - needed for electron-builder packaging

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local
claude_desktop_config.json

# IDE
.idea/
.vscode/
*.swp
*.swo
.cursorrules.md
IMPLEMENTATION.md
v1.2.md

# OS
.DS_Store
Thumbs.db 